#app {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;

    .sidebar-container {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 35%;
    }
    
    .map-container {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 75%;
    }

    .exif-details-container {
        background-color: indianred;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 55%;
    }

    .side-split-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 45%;
        
        .side-split-section {
            background-color: #111;
            min-height: 50%;
            min-width: 50%;
            display: flex;
            
            .details-image {
                box-sizing: border-box;
                user-select: none;
                align-self: center;
                justify-self: center;
                min-height: 50%;
                max-width: 100%;

                img {
                    margin: 0 auto;
                    display: block;
                    max-width: 40rem;
                    min-height: 30rem;
                    max-height: 30rem;
                    width: auto;
                    height: auto;
                }

                .details-image-navigation-button {
                    margin: 0.5em 5rem 0.5rem 5rem;
                    width: 5rem;
                }
            }

            #map {
                min-height: 50%;
            }

            .map-placeholder {
                align-self: center;
                justify-self: center
            }
        }
    }
}