.image-viewer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    #seaDragon {
        height: 100%;
        width: 100%;
    }
    
    #seaDragon:focus {
        outline: none;
    }
    
    canvas:focus {
        outline: none;
    }
}